
* {
    margin: 0;
}
.slider-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 50rem;
    max-width: 50rem;
}
.slide {
    width: 100%;
    height: 50rem;
    display: flex;
    padding: 2em;
    position: absolute;
    transition: transform 1s;
}

img {
    height: 100px;
    width: 100px;
}

.slide-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.slider-button {
    width: 4.5rem;
    height: 4.5rem;
    background-color: gainsboro;
    font-size: 3.25rem;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 40px;
    top: 50px;
}
.next {
    right: 100px;
    top: 50px;

}

.indicators {
    position: absolute;
    top: 200px;
    left: 700px;
}
.indicator {
    width: 1em;
    height: 1em;
    background-color: gainsboro;
    display: inline-block;
    border-radius: 50%;
    transition: background-color 1s;

}

.active-indicator {
    background-color: gray;
}