* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
}

.todo-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 10em;
}

.todo-list {
  padding: 1em;
  list-style-type: none;
}

.completed {
  background-color: rgba(173, 216, 230, 0.25);
}

.not-completed {
  background-color: rgba(255, 182, 193, 0.25);
}

.todo-card {
  padding: 2rem;
  border-radius: 18px;
  display: flex;
  min-width: 30rem;
  direction: row;
  gap: 3em;
  align-items: center;
  margin: 2em 0;
  justify-content: space-between;
}
.todo-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.add-todo-btn {
  padding: 1rem;
  background-color: cornflowerblue;
  color: white;
  border-radius: 32px;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: all 0.5s;
}

.add-todo-btn:hover {
  top: -5px;
  box-shadow: 0px 4px 10rem rgba(100, 148, 237, 0.25);
}

.dialog {
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  min-width: 400px;
  box-shadow: 0px 2px 200rem rgba(100, 148, 237, 0.25);
  border-radius: 24px;
  border: 0.6px solid rgba(0, 0, 0, 0.1);
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.input-field {
  padding: 1em;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.input-field label {
  font-size: 1.1rem;
}

.input-field input {
  border: 1.5px solid rgba(100, 148, 237, 0.25);
  border-radius: 6px;
  padding: 1em;
}

.input-field input:focus {
  outline: 3px solid rgba(100, 148, 237, 0.1);
}

.submit-btn {
  padding: 1em 2em;
  border-radius: 32px;
  border: none;
  font-size: 1.2rem;
  background: linear-gradient(to right, rgba(100, 148, 237, 0.25), rgba(255, 182, 193, 0.25));
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

.left {
  display: flex;
  gap: 1em;
  align-items: center;
}

.delete-btn {
  padding: .7em 1em;
  text-align: center;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
  border-radius: 16px;
  background-color: rgb(227, 52, 75);
}

.no-todo-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}